BOT_TOKEN=
BOT_USERNAME=@Earn_pilot_1bot
COMMUNITY_CHANNEL=https://t.me/earnpilotcommunity
PAYMENT_CHANNEL=https://t.me/earnpilotpayment
ADMIN_CHAT_ID=5419054691
ADMIN_USERNAME=Buddika p.w
ADMIN_PASSWORD=
DATABASE_URL=
SESSION_SECRET=
JWT_SECRET=
ENCRYPTION_KEY=
USDT_NETWORK=BEP20
USDT_MIN_WITHDRAW=
USDT_MAX_WITHDRAW=
USDT_FEE=
PILOT_USDT_RATE=
MINING_REWARD_PER_HOUR=
MINING_DURATION_MINUTES=60
REFERRAL_JOIN_REWARD=25
REFERRAL_DAY1_REWARD=50
REFERRAL_DAY2_REWARD=75
SUPPORT_USERNAME=
